/**
 * Basic ready to use CSS Style
 */

html {
  height: 100%;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Lato", Calibri, Arial, sans-serif;
  background-color: #f0f0f0;
  font-size: 13px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  overflow-x: hidden;
}

.clr {
  clear: both;
  padding: 0;
  height: 0;
  margin: 0;
}

.container {
  width: 100%;
  position: relative;
}

/*header*/
.main header {
  margin: 10px;
  padding: 20px;
  position: relative;
  display: block;
  background: #333333;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 6px;
}


.main h2 {
  font-size: 24px;
  font-weight: 900;
  color: #444;
  margin-left: 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

/*section*/
.main {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 6px;
}


table {
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 15px -4px rgb(0 0 0 / 20%);
  overflow: hidden;
  border-radius: 6px;
}

table td, table th {
  padding: 5px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
  margin: 30px 0 20px 0;
}

button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

ul, li {
  margin-left: 20px;
}

pre {
  background: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.block {
  display: block;
}

label {
  margin: 4px 0;
}

a {
  color: unset;
  text-decoration: unset;
}